<!-- Header -->
<header id="header" class="bg-white sticky-white">

    <div class="container">

        <!-- Logo -->
        <%= link_to root_path, class:'logo logo-default bg-red dark' do %>
        <span class="main"><strong>Black</strong>Loot</span><span class="hover"><strong>Black</strong>Loot</span>
        <% end %>
        <!-- Menu Trigger -->
        <a href="#" class="pull-right header-element hidden-lg" data-target="mobile-nav"><i class="ti-menu"></i></a>
        <!-- Sep -->
        <span class="header-sep pull-right hidden-lg"></span>
        <!-- Countdown -->
        <a href="index.html" class="pull-right hidden-mobile logo logo-default bg-red dark"><span class="main"><strong>2 </strong>Days left</span><span class="hover">2 : 12 : 23 : 45</span></a>
            <span></span><span></span><span></span><span></span><span></span>
        
        <!-- Sep -->
        <span class="header-sep pull-right hidden-mobile"></span>
        <!-- Social Icons -->
        <ul class="social-icons pull-right hidden-xs">
            <li><a href="#"><span><i class="fa fa-facebook"></i></span><span><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-twitter"></i></span><span><i class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-youtube"></i></span><span><i class="fa fa-youtube"></i></span></a></li>
        </ul>
        <!-- Sep -->
        <span class="header-sep pull-right hidden-xs"></span>
        <!-- Navigation -->
        <nav id="main-menu" class="pull-right visible-lg">
            <ul class="nav nav-main dropdown-dark pull-left">
                <li>
                   <%= link_to '#home' do %>
                    <span>Loot Now !</span><span>Loot Now !</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#about' do %>
                    <span>How it works</span><span>How it works</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#contact' do %>
                    <span>Contact us</span><span>Contact us</span>
                    <% end %>
                </li>
            </ul>
        </nav>

    </div>

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content" data-scroll-easing="easeOutCubic">

    <!-- Section - Home -->
    <section id="home" class="section fullheight bg-blue dark padding-v-130">
        
        <%= image_tag("open-treasure-chest-golds-jewelry_195.jpg",class:'bg-image animated infinite zooming') %>

        <div class="container v-center">
            <h1 class="text-lg margin-b-0">You found <strong>your best loot ever!</strong></h1>
            <h4 class="margin-b-40">Join us and start receiving what you really <strong>deserve!</strong></h4>
            <span data-target="local-scroll"><a href="#about" class="btn btn-red btn-filled">Loot Now!</a><a href="#about" class="btn btn-link">Learn more</a></span>
        </div>

    </section>
    <!-- Section - Home / End -->

    <!-- Section - About -->
    <section id="about" class="section-bent bg-red dark padding-t-130 padding-b-bent">

        <div class="section-bottom bg-red"></div>

        <div class="container">
            <div class="row v-center-items">
                <div class="col-lg-6">
                    <img class="margin-b-30" src="assets/img/photos/business-photo01.jpg" alt="">
                </div>
                <div class="col-lg-5 col-lg-push-1">
                    <h1><strong>Premium loot.</strong> For your pleasure only.</h1>
                    <p class="lead">Blackloot is filled with epic gear every month, cautiously picked by our team, especially for you.</p>
                    <p>All the best stuff you can only hope for, delivered at your door every month.</p>
                    <span data-target="local-scroll"><a href="#offer" class="btn btn-black btn-filled">Subscribe</a></span>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - About / End -->

    <!-- Section - Services -->
    <section id="offer" class="section section-bent bg-white">

        <div class="section-top bg-white"></div>
        <div class="section-bottom bg-white"></div>

        <div class="container">
            <div class="row margin-b-70">
                <div class="col-lg-6 col-lg-push-3">
                    <h1 class="text-center"><strong>Investments</strong> are our domain - <strong>experience</strong> is our advantage</h1>
                </div>
            </div>
            <div class="row margin-b-70">
                <div class="col-lg-2 col-md-3 col-sm-6 animated" data-animation="fadeInDown">
                    <span class="icon icon-sm"><i class="ti-home text-red"></i></span>
                    <h4><strong>Real Estate</strong> Investments</h4>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
                <div class="col-lg-2 col-lg-push-1 col-md-3 col-sm-6 animated" data-animation="fadeInDown" data-animation-delay="100">
                    <span class="icon icon-sm"><i class="ti-pulse text-red"></i></span>
                    <h4><strong>Medical</strong> Investments</h4>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
                <div class="col-lg-2 col-lg-push-2 col-md-3 col-sm-6 animated" data-animation="fadeInDown" data-animation-delay="200">
                    <span class="icon icon-sm"><i class="ti-stats-up text-red"></i></span>
                    <h4><strong>Forex</strong> Investments</h4>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
                <div class="col-lg-2 col-lg-push-3 col-md-3 col-sm-6 animated" data-animation="fadeInDown" data-animation-delay="300">
                    <span class="icon icon-sm"><i class=" ti-desktop  text-red"></i></span>
                    <h4><strong>IT</strong> Investments</h4>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</p>
                </div>
            </div>
        </div>

        <!-- Line -->
        <hr class="sep-line">

        <div class="relative container padding-t-30">
            <h2 class="text-center">What <strong>people say</strong>?</h2>
            <div class="row">
                <div class="col-lg-8 col-lg-push-2">
                    <div class="carousel text-center" data-items="2" data-items-desktop="[1199,2]" data-items-tablet="[979,2]" data-items-mobile="[400,1]" data-auto-play="2500">
                        <!-- Testimonial -->
                        <div class="testimonial padding-15">
                          <div class="testimonial-content bg-grey font-alt">
                              Non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. 
                          </div>
                          <div class="testimonial-author testimonial-with-photo">
                              <div class="testimonial-photo"><img class="img-circle" src="assets/img/photos/business-avatar03.jpg" alt="" /></div>
                              <div class="testimonial-author-txt">
                                  <span class="author-name">Mark <strong>Wagner</strong></span>
                                  <span class="text-muted">Google Inc.</span>
                              </div>
                          </div>
                        </div>
                        <!-- Testimonial -->
                        <div class="testimonial padding-15">
                          <div class="testimonial-content bg-grey font-alt">
                              Sed volutpat purus non odio maximus, eget ultrices mauris rutrum.
                          </div>
                          <div class="testimonial-author testimonial-with-photo">
                              <div class="testimonial-photo"><img class="img-circle" src="assets/img/photos/business-avatar02.jpg" alt="" /></div>
                              <div class="testimonial-author-txt">
                                  <span class="author-name">Jimmy <strong>Doe</strong></span>
                                  <span class="text-muted">Google Inc.</span>
                              </div>
                          </div>
                        </div>
                        <!-- Testimonial -->
                        <div class="testimonial padding-15">
                          <div class="testimonial-content bg-grey font-alt">
                              Non odio maximus, eget ultrices mauris rutrum. Phasellus non diam in neque interdum gravida. 
                          </div>
                          <div class="testimonial-author testimonial-with-photo">
                              <div class="testimonial-photo"><img class="img-circle" src="assets/img/photos/business-avatar01.jpg" alt="" /></div>
                              <div class="testimonial-author-txt">
                                  <span class="author-name">Mark <strong>Wagner</strong></span>
                                  <span class="text-muted">Google Inc.</span>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section - Services / End -->

    <!-- Section - Default -->
    <section id="information" class="section section-double right padding-t-bent padding-b-bent bg-grey">

        <div class="col-md-6 content margin-b-60">
            <h1><strong>Business &amp; Economy</strong> is our passion.</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <span data-target="local-scroll"><a href="#offer" class="btn btn-red btn-filled">Our Services</a></span>
        </div>
        <div class="col-md-6 image">
            <div class="bg-image"><img src="assets/img/photos/business-photo02.jpg" alt=""></div>
        </div>
           

    </section>
    <!-- Section - Default / End -->

    <%= render "newsletter" %>



            <!-- Line -->
            <hr class="sep-line">

            <div class="row padding-v-70 v-center-items">
                <div class="col-lg-4 col-sm-4 text-right">
                    <h1>Do not hesitate to <strong>contact Us</strong>!</h1>
                </div>
                <div class="col-lg-2 col-lg-push-1 col-sm-4 text-center">
                    <img class="img-circle animated" data-animation="zoomIn" src="assets/img/photos/business-avatar01.jpg" alt="" />
                </div>
                <div class="col-lg-4 col-sm-4 col-lg-push-2">
                    <address>
                        E-mail:  <a href="#"><strong>info@blackloot.com</strong></a><br>
                        Phone:  <strong>+1 418 123-4567</strong>
                    </address>
                    
                    <a href="#" class="btn btn-black btn-sm btn-filled" data-toggle="modal" data-target="#demoModal">Open contact form</a>
                
                </div>
            </div>


        

        <footer class="border-top padding-v-30 relative">
            <div class="container">
                <span class="text-uppercase text-sm">Copyright A.U.R.A. inc. 2015. All rights reserved.</span>
            </div>
        </footer>

    </section>
    <!-- Section - Contact / End -->

</div>
<!-- Content / End -->
 
<!-- Mobile Navigation --> 
<nav id="mobile-nav" class="bg-black dark">
    <div class="mobile-nav-wrapper">
        <ul class="nav nav-side">
            <li>
                <a href="#home"><span>Start</span><span>Start</span></a>
            </li>
            <li>
                <a href="#about"><span>About</span><span>About</span></a>
            </li>
            <li>
                <a href="#offer"><span>Offer</span><span>Offer</span></a>
            </li>
            <li>
                <a href="#information"><span>Information</span><span>Information</span></a>
            </li>
            <li>
                <a href="#contact"><span>Contact</span><span>Contact</span></a>
            </li>
            <li>
                <a href="documentation.html"><span>Documentation</span><span>Documentation</span></a>
            </li>
        </ul>
    </div>
    <a href="#" class="mobile-nav-close" data-target="mobile-nav"><i class="ti-close"></i></a>
</nav>

<!-- Modal - Contact Form -->
<!-- Modal - Demo -->
<div class="modal fade modal-blue-dark" id="demoModal" tabindex="-1" role="dialog">
  <button type="button" class="modal-close x-close" data-dismiss="modal"><span class="sr-only">Close</span></button>
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-intro">
        <h1 class="margin-b-60">Example introduction text for modal window!</h1>
    </div>
    <div class="modal-content">
      <button type="button" class="modal-close close" data-dismiss="modal"><i class="ti-close"></i></button>
      <div class="modal-body">
        ....
      </div>
    </div>
  </div>
</div>

<!-- JS Plugins 

<script>
window.paceOptions = {
    target: '#page-loader',
    ajax: false
};
</script>

-->

<!-- Google Map API -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
<!--
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-XXXXX-X']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
-->

</body>

</html>
